.row
  .col-sm-4.col-sm-offset-4
    .well
      .row
        .col-xs-12
          .page-header
            h1.text-center Nico&nbsp;
              small MP3 Ripper
      .row
        .col-xs-12
          form(role="form", ng-submit="submit()")
            .input-group
              input(type="text", ng-model="code").form-control
              span.input-group-btn
                button(type="submit").btn.btn-default Go!
      .row
        .col-xs-12
          a(ng-href="/{{ download.path }}", ng-show="download", download="/{{ download.path }}", tooltip="Right Click, Save As...", tooltip-placement="bottom") {{ download.meta.title }}
